{% load static %} {% load tagger %}
<div class="container-fluid">
    <form action="" id="supplier-form">
        <input type="hidden" name="id" value="{%  underscoreTag supplier '_key' as id %}{{id}}">
   
        <div class="mb-3">
            <label for="name" class="control-label">Name</label>
            <input type="text" id="name" name="name" class="form-control form-control-sm rounded-0" value="{{supplier.name}}" required>
        </div>
       
        <div class="mb-3">
            <label for="name" class="control-label">Office Address</label>
            <input type="text" id="office_address" name="office_address" class="form-control form-control-sm rounded-0" value="{{supplier.office_address}}" required>
        </div>
        <div class="mb-3">
            <label for="mobile_no" class="control-label">Mobile NO</label>
            <input type="text" id="mobile_no" name="mobile_no" class="form-control form-control-sm rounded-0" value="{{supplier.mobile_no}}" required>
        </div>
        <div class="mb-3">
            <label for="email_id" class="control-label">Email Id</label>
            <input type="text" id="email_id" name="email_id" class="form-control form-control-sm rounded-0" value="{{supplier.email_id}}" required>
        </div>
     
    </form>
</div>
<script>
    $(function() {
        $('#uni_modal').on('shown.bs.modal', function(){
            $('#supplier').select2({
                placeholder:"Please Select supplier Here",
                width:"100%",
                dropdownParent:$('#uni_modal'),
                selectionCssClass:"form-control form-control-sm rounded-0"
            })
        })
        $('#supplier-form').submit(function(e) {
            e.preventDefault();
            var _this = $(this)
            $('.err-msg').remove();
            var el = $('<div>')
            el.addClass("alert alert-danger err-msg")
            el.hide()
            if (_this[0].checkValidity() == false) {
                _this[0].reportValidity();
                return false;
            }
            start_loader();
            $.ajax({
                headers: {
                    "X-CSRFToken": '{{csrf_token}}'
                },
                url: "{% url 'save_sub_supplier' %}",
                data: new FormData($(this)[0]),
                cache: false,
                contentType: false,
                processData: false,
                method: 'POST',
                type: 'POST',
                dataType: 'json',
                error: err => {
                    console.log(err)
                    alert("An error occured", 'error');
                    end_loader();
                },
                success: function(resp) {
                    if (typeof resp == 'object' && resp.status == 'success') {
                        location.reload()
                    } else if (resp.status == 'failed' && !!resp.msg) {
                        el.text(resp.msg)
                    } else {
                        el.text("An error occured", 'error');
                        end_loader();
                        console.err(resp)
                    }
                    _this.prepend(el)
                    el.show('slow')
                    $("html, body, .modal").scrollTop(0);
                    end_loader()
                }
            })
        })
    })
</script>