{% load static %}
{% load tagger %}
<div class="container-fluid">
    <form action="" id="teaching-material-form">
        <input type="hidden" name="id" value="{%  underscoreTag teaching_material '_key' as id %}{{id}}">
        <div class="mb-3">
            <label for="name" class="control-label">Name</label>
            <input type="text" id="name" name="name" class="form-control form-control-sm rounded-0" value="{{teaching_material.name}}" required>
        </div>
        <div class="mb-3">
            <label for="subject" class="control-label">subject</label>
            <input rows="3" id="subject" name="subject" class="form-control form-control-sm rounded-0" value="{{teaching_material.subject}}" required>
        </div>
        <div class="mb-3">
            <label for="course" class="control-label">Course</label>
            <input rows="3" id="course" name="course" class="form-control form-control-sm rounded-0" value="{{teaching_material.course}}" required>
        </div>
        <div class="mb-3">
            <label for="teaching_reference" class="control-label">Teaching Reference</label>
            {% if teaching_material.teaching_reference %}
                <div class="mb-2">
                    <a href="{% url 'download-file' teaching_material.teaching_reference %}" class="btn btn-primary btn-sm" style="text-decoration:none">Download Teaching Material</a>
                </div>
            {% endif %}
            <input type="file" id="teaching_reference" name="teaching_reference" class="form-control form-control-sm rounded-0" multiple>
        </div>
    </form>
</div>
<script>
    $(function() {
        $('#teaching-material-form').submit(function(e) {
            e.preventDefault();
            var _this = $(this)
            $('.err-msg').remove();
            var el = $('<div>')
            el.addClass("alert alert-danger err-msg")
            el.hide()
            if (_this[0].checkValidity() == false) {
                _this[0].reportValidity();
                return false;
            }
            start_loader();
            $.ajax({
                headers: {
                    "X-CSRFToken": '{{csrf_token}}'
                },
                url: "{% url 'save-teaching-material' %}",
                data: new FormData($(this)[0]),
                cache: false,
                contentType: false,
                processData: false,
                method: 'POST',
                type: 'POST',
                dataType: 'json',
                error: err => {
                    console.log(err)
                    alert("An error occured", 'error');
                    end_loader();
                },
                success: function(resp) {
                    if (typeof resp == 'object' && resp.status == 'success') {
                        location.reload()
                    } else if (resp.status == 'failed' && !!resp.msg) {
                        el.text(resp.msg)
                    } else {
                        el.text("An error occured", 'error');
                        end_loader();
                        console.err(resp)
                    }
                    _this.prepend(el)
                    el.show('slow')
                    $("html, body, .modal").scrollTop(0);
                    end_loader()
                }
            })
        })
    })
</script>