{% load static %} {% load humanize %}
<style>
    #uni_modal .modal-footer {
        display: none
    }
    
    #uni_modal .modal-sub-footer {
        display: flex
    }
</style>
<div class="container-fluid" id="e-details">
    <div class="lh-1">
        <dl>
            <dt>Name</dt>
            <dd class="ps-4">{{teaching_material.name}}</dd>
            <dt>Subject</dt>
            <dd class="ps-4">{{teaching_material.subject}}</dd>
            <dt>Course</dt>
            <dd class="ps-4">{{teaching_material.course}}</dd>
            <dd class="ps-4">
                {{ teaching_material.teaching_reference }}
                {% if teaching_material.teaching_reference %}
                <a href="{% url 'download-file' teaching_material.teaching_reference %}" class="btn btn-primary mt-2">
                    Download
                </a>
                {% endif %}
            </dd>        
        </dl>
    </div>
</div>