{% load static %} {% load humanize %}
<style>
    #uni_modal .modal-footer {
        display: none
    }
    
    #uni_modal .modal-sub-footer {
        display: flex
    }
</style>
<div class="container-fluid" id="e-details">
    <div class="lh-1">
        <dl>
            <dt>Book</dt>
            <dd class="ps-4">{{borrow.book}}</dd>
            <dt>User Name</dt>
            <dd class="ps-4">{{borrow.user}}</dd>
            <dt>Borrowing Date</dt>
            <dd class="ps-4">{{borrow.borrowing_date}}</dd>
            <dt>Return Date</dt>
            <dd class="ps-4">{{borrow.return_date}}</dd>
            <dt>Due Date</dt>
            <dd class="ps-4">{{borrow.due_date}}</dd>
            <dt>Fines</dt>
            <dd class="ps-4">{{borrow.fines}}</dd>
            <dd class="ps-4">
                {% if borrow.status == '1' %}
                <span class="badge badge-success bg-gradient bg-success px-3 rounded-pill bg-opacity-75 text-sm py-1">Pending</span> {% else %}
                <span class="badge badge-secondary bg-gradient bg-secondary px-3 rounded-pill bg-opacity-75 text-sm py-1">Returned</span> {% endif %}
            </dd>
        </dl>
    </div>
</div>